@import "tailwindcss";

a,
button {
  cursor: pointer;
  font-size: 16px !important;
}

.button--submit {
  background-color: var(--color-yellow-400);
  color: var(--color-black);
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  min-height: 52px;
  font-weight: 700;
}

.button--submit:hover {
  background-color: var(--color-orange-600);
  color: var(--color-red-50);
}

.input::placeholder {
  color: var(--color-white);
  opacity: 0.6;
}

.error {
  color: red;
  font-weight: 600;
}
