@import "tailwindcss";


body {
  /* background-color: oklch(88.2% .059 254.128); */
  background: linear-gradient(135deg, #232946 0%, #3e497a 55%, #7c81ad 100%);

  font-family: "Inter";
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

/* a,
button {
  cursor: pointer;
  font-size: 16px !important;
} */

.button--submit {
  background-color: var(--color-yellow-400);
  color: var(--color-black);
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  min-height: 52px;
  font-weight: 700;
}

.button--submit:hover {
  background-color: var(--color-orange-600);
  color: var(--color-red-50);
}

.input::placeholder {
  color: var(--color-white);
  opacity: 0.6;
}

.error {
  color: red;
  font-weight: 600;
}